/* Общие параметры для логотипа */

/****************** Flex box Flex box Flex box ***********************/
.nav-container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.nav-item {
  position: relative;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.address-box {
  flex-grow: 1;
}
.address-list {
  margin-left: auto;
  display: flex;
}
.address-item:not(:last-child) {
  margin-right: 50px;
}
.feature {
  display: flex;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.team-section {
  background-color: #f5f4fa;
}
.tim-list {
  display: flex;
}
/* .tim-item:not(:last-child) {
  margin-right: 30px;
} */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

/************************************************************************************/
/* Адресс */
.address-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.address-icon-smart {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.address-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:focus,
.address-link:hover,
.footer-address-address:focus,
.footer-address-address:hover,
.footer-address-link:focus,
.footer-address-link:hover {
  fill: var(--accent-link-color);
  color: var(--accent-link-color);
}
/* Шапка */

/**************************** M O D A L *********************************/

/**************************** E N D   M O D A L *********************************/
/******************************* F O R M A **************************************/

/**************************** E N D   F O R M A *********************************/
/******************************** Наши Особенности ***************************************/

/********************* Networks (Соцсети)****************************************/

/*******************************************************************************/
/****************************** Чем мы занимаемся ******************************/

/* .img-box {
  display: block;
  max-width: 100%;
  height: auto;
} */

/************************************* Подвал ***************************/

/*************************** social box **********************************/

/*********************** Постоянные клиенты *****************************/

/********* П О Р Т Ф О Л И О ************/
