:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-link-color: #2196f3;
  --accent-text-color: #ffffff;
  --logo-text-color: #000000;
  --main-bg-color: #2f303a;
  --icon-bg-color: #f5f4fa;
  --icon-client-color: #afb1b8;
  --border-client-color: #afb1b8;
  --social-bg-color: #ffffff1a;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  margin: 0;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 3px solid springgreen; */
}
.footer-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* .section.end {
  padding-bottom: 94px;
  background-color: #f5f4fa;
} */
/* .container.tim {
  background-color: #f5f4fa;
} */

/* Общие параметры для логотипа */
.logo,
.footer-logo {
  margin-right: 94px;
  font-family: Raleway, sans-serif;
  color: var(--logo-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* Задаю цвет первой части логотипа "Web" */
.logo-web,
.footer-logo-web {
  color: var(--accent-link-color);
}
.footer-logo-studio {
  color: var(--accent-text-color);
}

/* Новигация по сайту  */
.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--title-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-link-color);
  border-radius: 2px;
  bottom: 0;
  right: 0;
}

.nav-link:hover,
.nav-link.current,
.nav-link:focus {
  color: var(--accent-link-color);
}
/****************** Flex box Flex box Flex box ***********************/
.nav-container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.nav-item {
  position: relative;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}
.address-list {
  margin-left: auto;
  display: flex;
}
.address-item:not(:last-child) {
  margin-right: 50px;
}
.feature {
  display: flex;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.team-section {
  background-color: #f5f4fa;
}
.tim-list {
  display: flex;
}
/* .tim-item:not(:last-child) {
  margin-right: 30px;
} */
.team-list {
  text-align: center;
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
/******************** Портфолио, основной контент ********************************* */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-box {
  position: relative;
  overflow: hidden;
}
.portfolio-box::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  opacity: 0;
}
.portfolio-link:hover .pop-up-text,
.portfolio-link:focus .pop-up-text {
  opacity: 1;
  transform: translateY(0);
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.pop-up-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--accent-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  opacity: 1;
  font-size: 18px;
  line-height: 1.55;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img {
  display: block;
}
.portfolio-link:hover,
.portfolio-link:focus {
  /* outline: 1px solid springgreen; */
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}
/************************************************************************************/
/* Адресс */
.address-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.address-icon-smart {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.address-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:focus,
.address-link:hover,
.footer-address-address:focus,
.footer-address-address:hover,
.footer-address-link:focus,
.footer-address-link:hover {
  fill: var(--accent-link-color);
  color: var(--accent-link-color);
}
/* Шапка */

.hero {
  padding: 200px 0;
  text-align: center;
  background: var(--main-bg-color);

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/team_at_work.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.business-title {
  color: var(--accent-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* padding-top: 200px; */
  text-transform: uppercase;
  margin-bottom: 30px;
  /* outline: 3px solid springgreen; */
}
.business-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: #2196f3;
  color: var(--accent-text-color);
  /* margin-bottom: 200px; */
  cursor: pointer; /* Задан курсор при наведении*/
  /* outline: 3px solid springgreen; */
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  overflow: visible;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% -50%) scale(0.9);
}
/**************************** M O D A L *********************************/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  background-color: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: var(--primary-fone-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Задан курсор при наведении*/
}
.icon-close {
  width: 18px;
  height: 18px;
  fill: var(--logo-text-color);
  /* outline: 1px solid springgreen; */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .icon-close,
.button-close:focus .icon-close {
  fill: var(--accent-link-color);
}

/**************************** E N D   M O D A L *********************************/
/******************************* F O R M A **************************************/

.form {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

.form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}
.form-call-back {
  position: relative;
  display: block;
  text-align: left;
  flex-direction: column;
  margin-bottom: 10px;
  /* width: 100%;
  height: 58px; */
  /* outline: 1px solid springgreen; */
}
.form-call-back label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form-call-back input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.icon-user,
.icon-phone,
.icon-envelope {
  /* width: 18px;
  height: 18px; */
  position: absolute;
  top: 32px;
  left: 12px;
  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-call-back input:hover,
.form-call-back input:focus {
  outline: none;
  border: 1px solid var(--accent-link-color);
  box-sizing: border-box;
  border-radius: 4px;
  /* fill: var(--accent-link-color); */
}

.form-call-back:hover > .icon-user,
.form-call-back:hover > .icon-phone,
.form-call-back:hover > .icon-envelope {
  fill: var(--accent-link-color);
}

.form-call-back:focus-within > .icon-user,
.form-call-back:focus-within > .icon-phone,
.form-call-back:focus-within > .icon-envelope {
  fill: var(--accent-link-color);
}
.textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 138px;
  margin-bottom: 25px;
  text-align: left;
}

.comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:hover > .comment,
.textarea:focus-within > .comment {
  outline: none;
  border: 1px solid var(--accent-link-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.textarea label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.check-box {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.check-box label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.checkbox {
  width: 16px;
  height: 15px;
  appearance: none;
  outline: none;
  top: 4px;
  right: -5px;
}

.checkbox-info {
  display: inline-block;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid black;
  border-radius: 2px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-info::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
}
.checkbox:checked + .checkbox-info {
  background-image: url(../images/icon-check.svg);

  background-color: #2196f3;
  background-repeat: no-repeat;
  background-position: center;
  border-color: #2196f3;
  background-origin: border-box;
  background-size: 16px 15px;
}

.checkbox-link {
  text-decoration: none;
  border-bottom: 1px solid #188ce8;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #188ce8;
}

.form-button-box {
  display: flex;
  justify-content: center;
}

.form-button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  background-color: var(--accent-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/**************************** E N D   F O R M A *********************************/
/******************************** Наши Особенности ***************************************/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**********************************/
.icon-box {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--icon-bg-color);
  align-items: center;
  justify-content: center;
}
.icon {
  width: 70px;
  height: 70px;
}
.feature-title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature-text,
.team-text,
.portfolio-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
/********************* Networks (Соцсети)****************************************/
.networks-list {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 32px;
  margin-right: 32px; */
}
.networks-item {
  background-color: var(--accent-text-color);
}
.networks-item:not(:last-child) {
  margin-right: 10px;
}
.networks-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--border-client-color);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-icon {
  width: 20px;
  height: 20px;
  /* margin: 12px; */
}

.networks-link:hover,
.networks-link:focus {
  background-color: var(--accent-link-color);
  fill: var(--accent-text-color);
}

/*******************************************************************************/
/****************************** Чем мы занимаемся ******************************/
.work-section {
  padding-top: 0;
}
.work-title,
.team-title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  text-align: center;
  /* padding-top: 94px; */
  margin-bottom: 50px;
}
.section-title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}
.position {
  font-size: 16px;
  line-height: 1.18;
}
/* .img-box {
  display: block;
  max-width: 100%;
  height: auto;
} */

.team-bloc-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.team-item {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.item-desktop::after {
  position: absolute;
  content: "Десктопные приложения";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: var(--accent-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  right: 0px;
  text-transform: uppercase;
}
.item-mobile::after {
  position: absolute;
  content: "Мобильные приложения";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: var(--accent-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  right: 0px;
  text-transform: uppercase;
}
.iten-designer::after {
  position: absolute;
  content: "Дизайнерские решения";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: var(--accent-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  right: 0px;
  text-transform: uppercase;
}
/* Подвал */
.footer-address-address {
  color: var(--accent-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  /* font-weight: 400; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  /* font-weight: 400; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-box {
  display: flex;
  align-items: baseline;
}
/*************************** social box **********************************/
.social-box {
  display: block;
  margin-left: 70px;
  margin-right: 93px;
}
.social-title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--accent-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.social-list {
  display: flex;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--accent-text-color);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item {
  border-radius: 50%;
  background-color: var(--social-bg-color);
}
.social-icon {
  width: 20px;
  height: 20px;
  /* margin: 12px; */
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-link-color);
}
.social-item:not(:last-child) {
  margin-right: 10px;
}

.form-subscribe {
  display: inline-flex;
  justify-content: space-between;
  width: 570px;
  height: 86px;
  padding: 0;
  margin: 0;
}

.form-field-subscribe {
  width: 358px;
  height: 50px;
  margin-right: 12px;
}

.form-input-subscribe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px 16px 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.button-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 4px;
  padding: 10px 29px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  background-color: var(--accent-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.icon-subscribe {
  display: flex;
  align-items: center;
  margin-left: 10px;
  fill: var(--accent-text-color);
}
/*********************** Постоянные клиенты *****************************/
.client-list {
  display: flex;
}
.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px;
  border-style: solid;
  border-color: var(--border-client-color);
  border-radius: 5px;
  fill: var(--border-client-color);
  justify-content: center;
  align-items: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon {
  width: 106px;
  height: 60px;
}
.client-link:hover,
.client-link:focus {
  border-color: var(--accent-link-color);
  fill: var(--accent-link-color);
}
.client-item:not(:last-child) {
  margin-right: 30px;
}

/********* П О Р Т Ф О Л И О ************/
.filter-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  border-radius: 4px;
  /* margin-bottom: 50px; */
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer; /* Задан курсор при наведении*/
}
.filter-button:focus,
.filter-button:hover {
  color: var(--accent-text-color);
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}

.portfolio-bloc-text {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.portfolio-title {
  color: var(--title-text-color);
  font-size: 18px;
  /* padding-left: 24px;
  margin-bottom: 4px; */
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  /* padding-left: 24px;
  margin-bottom: 20px; */
}

/* Убираю маркер у всех списков  */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Убирает подчеркивание*/
.logo,
.nav-link,
.address-link,
.footer-address,
.footer-link,
.footer-logo,
.footer-address-address,
.footer-address-link,
.portfolio-link {
  text-decoration: none;
}
