.address-box {
  flex-grow: 1;
}
.address {
  margin-left: auto;
  display: flex;
}
.address__item:not(:last-child) {
  margin-right: 50px;
}

/* .tim-item:not(:last-child) {
  margin-right: 30px;
} */

/************************************************************************************/
/* Адресс */
.address-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.address-icon-smart {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.address__link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:focus,
.address__link:hover,
.footer-address-address:focus,
.footer-address-address:hover,
.footer-address-link:focus,
.footer-address-link:hover {
  fill: var(--accent-link-color);
  color: var(--accent-link-color);
}
