.business-title {
  color: var(--accent-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* padding-top: 200px; */
  text-transform: uppercase;
  margin-bottom: 30px;
  /* outline: 3px solid springgreen; */
}
.business-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: #2196f3;
  color: var(--accent-text-color);
  /* margin-bottom: 200px; */
  cursor: pointer; /* Задан курсор при наведении*/
  /* outline: 3px solid springgreen; */
}
