.footer-address-address {
  color: var(--accent-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  /* font-weight: 400; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  /* font-weight: 400; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-box {
  display: flex;
  align-items: baseline;
}
