.logo,
.footer-logo {
  /* margin-right: 94px; */
  font-family: Raleway, sans-serif;
  color: var(--logo-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  margin-right: 94px;
}
/* Задаю цвет первой части логотипа "Web" */
.logo-web,
.footer-logo-web {
  color: var(--accent-link-color);
}
.footer-logo-studio {
  color: var(--accent-text-color);
}
