.work-section {
  padding-top: 0;
}
.work-title,
.team-title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  text-align: center;
  /* padding-top: 94px; */
  margin-bottom: 50px;
}
.section-title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}
.position {
  font-size: 16px;
  line-height: 1.18;
}
